<div class="auth-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Reset Password</h1>
        <app-list-errors [errors]="errors"></app-list-errors>
        <form [formGroup]="passwordForm" (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group">
              <input
                formControlName="email"
                placeholder="Email"
                class="form-control form-control-lg"
                type="text" />
            </fieldset>
                 <div class="alert" *ngIf="!passwordForm.controls['email'].valid && passwordForm.controls['email'].touched">Este campo es obligatorio y debe ser valido</div>
            <button class="btn btn-lg btn-primary pull-xs-right" [disabled]="!passwordForm.valid" type="submit">
              Reset
            </button>
          </fieldset>
        </form>
      </div>

    </div>
  </div>
</div>
