<section class="home-page">
        <div class="container page">
            <div class="row">
                <section class="gridlist">
                    <div class="gridlist_Map">
                        <agm-map [latitude]=38.821655 [longitude]=-0.605836></agm-map>
                    </div>
                    <div class="gridlist_cards">
                            <a class= "cards_list" *ngFor="let local of locales"  routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }"
                            [routerLink]="['/locales',local.id_local]">
                                
                                <div class="list_imgcontent">
                                    <img src="../../assets/img/locales/{{local.foto}}"/>
                                </div>
                                <div class="list_content">
                                    <div>
                                        <h5>{{local.nombre}}</h5>
                                        <span>{{local.telefono}}</span><br>
                                        <span>{{local.poblacion}}</span>
                                    </div>
                                </div>
                            </a>
                    </div>
                    <div class="list_paginator" >
                    </div>
                </section>
            </div>
        </div>
</section>