<p>
  change-password-recovery works!
</p>

<div class="auth-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Cambiar Password</h1>
        <p class="text-xs-center">
          <a [routerLink]="['/login']" *ngIf="authType == 'register'">Have an account?</a>
          <a [routerLink]="['/register']" *ngIf="authType == 'login'">Need an account?</a>
        </p>
        <app-list-errors [errors]="errors"></app-list-errors>
        <form [formGroup]="changeForm" (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group">
              <input
                formControlName="password"
                placeholder="Password"
                class="form-control form-control-lg"
                type="password" />
            </fieldset>
                 <div class="alert" *ngIf="!changeForm.controls['password'].valid && changeForm.controls['password'].touched">Este campo es obligatorio y debe contener entre 8 y 128 caracteres</div>
            <button class="btn btn-lg btn-primary pull-xs-right" [disabled]="!changeForm.valid" type="submit">
               Cambiar 
            </button>
          </fieldset>
        </form>
      </div>

    </div>
  </div>
</div>
